.heading2{
    padding:0 37vh;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    
}
.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    gap: 5rem;
}
.card-content{
    margin-top: 3rem;
    text-align: start;
}
.card-content h1{
    padding-bottom: 20px;
    font-weight: 600;
}
.more-content p{
    margin-top: 1rem;
}